USE [master]
GO
/****** Object:  Database [SGI_GrupoCorban]    Script Date: 29/12/2025 18:12:21 ******/
CREATE DATABASE [SGI_GrupoCorban]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SGI_GrupoCorban', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SGI_GrupoCorban.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SGI_GrupoCorban_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\SGI_GrupoCorban_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SGI_GrupoCorban].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SGI_GrupoCorban]
GO
/****** Object:  User [AdminGeneral]    Script Date: 29/12/2025 18:12:22 ******/
CREATE USER [AdminGeneral] FOR LOGIN [AdminGeneral] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [AdminGeneral]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [AdminGeneral]
GO
/****** Object:  Schema [comercial]    Script Date: 29/12/2025 18:12:22 ******/
CREATE SCHEMA [comercial]
GO
/****** Object:  Schema [core]    Script Date: 29/12/2025 18:12:22 ******/
CREATE SCHEMA [core]
GO
/****** Object:  Schema [rrhh]    Script Date: 29/12/2025 18:12:22 ******/
CREATE SCHEMA [rrhh]
GO
/****** Object:  Schema [seg]    Script Date: 29/12/2025 18:12:22 ******/
CREATE SCHEMA [seg]
GO
/****** Object:  Table [comercial].[auditoria_log]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[auditoria_log](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[usuario_nombre] [nvarchar](150) NULL,
	[accion] [varchar](50) NOT NULL,
	[modulo] [varchar](50) NOT NULL,
	[tabla_afectada] [varchar](100) NULL,
	[registro_id] [int] NULL,
	[detalle_antes] [nvarchar](max) NULL,
	[detalle_despues] [nvarchar](max) NULL,
	[descripcion] [nvarchar](500) NULL,
	[ip_direccion] [varchar](50) NULL,
	[user_agent] [nvarchar](500) NULL,
	[fecha_evento] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [comercial].[clientes]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_cliente] [varchar](20) NOT NULL,
	[tipo_documento] [varchar](20) NOT NULL,
	[nro_documento] [varchar](20) NOT NULL,
	[razon_social] [nvarchar](200) NOT NULL,
	[direccion_fiscal] [nvarchar](300) NULL,
	[tipo_estado] [varchar](20) NULL,
	[propietario_area_id] [int] NOT NULL,
	[vendedor_asignado_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [comercial].[clientes_contactos]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[clientes_contactos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NOT NULL,
	[nombre_contacto] [nvarchar](150) NOT NULL,
	[cargo] [nvarchar](100) NULL,
	[celular] [varchar](20) NULL,
	[correo] [nvarchar](100) NULL,
	[area_encargada] [nvarchar](100) NULL,
	[is_principal] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [comercial].[cotizacion_seguimiento]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[cotizacion_seguimiento](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cotizacion_id] [int] NOT NULL,
	[estado_anterior] [varchar](30) NULL,
	[estado_actual] [varchar](30) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[comentario] [nvarchar](1000) NULL,
	[tipo_cambio] [varchar](50) NULL,
	[documento_url] [nvarchar](500) NULL,
	[fecha_cambio] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [comercial].[cotizaciones]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[cotizaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo] [varchar](30) NOT NULL,
	[version] [int] NULL,
	[cotizacion_padre_id] [int] NULL,
	[vendedor_id] [int] NOT NULL,
	[cliente_id] [int] NOT NULL,
	[contacto_cliente_id] [int] NULL,
	[estado] [varchar](30) NULL,
	[tipo_servicio] [int] NOT NULL,
	[via_transporte] [int] NOT NULL,
	[incoterm] [int] NOT NULL,
	[tipo_contenedor] [int] NOT NULL,
	[origen] [nvarchar](150) NOT NULL,
	[destino] [nvarchar](150) NOT NULL,
	[descripcion_carga] [nvarchar](500) NULL,
	[peso_total] [decimal](18, 2) NULL,
	[volumen_total] [decimal](18, 2) NULL,
	[cantidad_bultos] [int] NULL,
	[tipo_carga] [varchar](50) NULL,
	[moneda] [varchar](3) NULL,
	[tipo_cambio] [decimal](10, 4) NULL,
	[subtotal] [decimal](18, 2) NOT NULL,
	[igv] [decimal](18, 2) NULL,
	[total] [decimal](18, 2) NOT NULL,
	[fecha_validez] [date] NOT NULL,
	[tiempo_transito_dias] [int] NULL,
	[observaciones] [nvarchar](1000) NULL,
	[terminos_condiciones] [nvarchar](2000) NULL,
	[aprobado_por_id] [int] NULL,
	[fecha_aprobacion] [datetime2](7) NULL,
	[motivo_rechazo] [nvarchar](500) NULL,
	[resultado_cliente] [varchar](20) NULL,
	[motivo_perdida] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [comercial].[leads]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[leads](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lote_id] [bigint] NULL,
	[ruc] [char](11) NULL,
	[razon_social] [varchar](255) NULL,
	[telefono] [varchar](20) NULL,
	[correo] [varchar](255) NULL,
	[usuario_asignado_id] [int] NULL,
	[estado_gestion] [varchar](50) NULL,
	[comentarios] [text] NULL,
	[fecha_terminado] [datetime] NULL,
	[completado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [comercial].[lotes_carga]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[lotes_carga](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_archivo] [varchar](100) NOT NULL,
	[fecha_subida] [datetime] NOT NULL,
	[total_registros] [int] NOT NULL,
	[estado] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [comercial].[solicitudes_cotizacion]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [comercial].[solicitudes_cotizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cliente_id] [int] NULL,
	[lead_id] [int] NULL,
	[comercial_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[configuraciones]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[configuraciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave] [varchar](100) NOT NULL,
	[valor] [nvarchar](500) NOT NULL,
	[tipo_dato] [varchar](20) NULL,
	[descripcion] [nvarchar](300) NULL,
	[updated_at] [datetime2](7) NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[documentos]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[documentos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[modulo] [varchar](50) NOT NULL,
	[tabla_origen] [varchar](100) NOT NULL,
	[registro_id] [int] NOT NULL,
	[tipo_documento] [varchar](50) NULL,
	[nombre_archivo] [nvarchar](255) NOT NULL,
	[ruta_archivo] [nvarchar](500) NOT NULL,
	[tamano_kb] [int] NULL,
	[mime_type] [varchar](100) NULL,
	[uploaded_by] [int] NOT NULL,
	[uploaded_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[incoterms]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[incoterms](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [char](3) NOT NULL,
	[nombre_largo] [varchar](100) NOT NULL,
	[tipo] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[notificaciones]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[notificaciones](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[titulo] [nvarchar](150) NOT NULL,
	[mensaje] [nvarchar](500) NOT NULL,
	[url_destino] [nvarchar](300) NULL,
	[leida] [bit] NULL,
	[fecha_lectura] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[servicios]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[servicios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_servicio] [varchar](20) NOT NULL,
	[nombre] [varchar](100) NOT NULL,
	[descripcion] [varchar](255) NOT NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[tipo_contenedor]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[tipo_contenedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [core].[via]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [core].[via](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[areas]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[areas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[parent_area_id] [int] NULL,
	[responsable_id] [int] NULL,
	[comisiona_ventas] [bit] NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[cargos]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[cargos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [rrhh].[empleados]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [rrhh].[empleados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigo_empleado] [varchar](20) NOT NULL,
	[nombres] [nvarchar](100) NOT NULL,
	[apellido_paterno] [nvarchar](75) NOT NULL,
	[apellido_materno] [nvarchar](75) NULL,
	[fecha_nacimiento] [date] NULL,
	[tipo_documento] [varchar](20) NOT NULL,
	[nro_documento] [varchar](20) NOT NULL,
	[celular] [varchar](20) NULL,
	[email_personal] [nvarchar](100) NULL,
	[direccion] [nvarchar](200) NULL,
	[distrito] [nvarchar](100) NULL,
	[provincia] [nvarchar](100) NULL,
	[fecha_ingreso] [date] NOT NULL,
	[fecha_cese] [date] NULL,
	[activo] [bit] NULL,
	[cargo_id] [int] NOT NULL,
	[area_id] [int] NOT NULL,
	[jefe_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[logs_acceso]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[logs_acceso](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[fecha_ingreso] [datetime2](7) NULL,
	[exitoso] [bit] NULL,
	[ip_address] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[permisos]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[permisos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tecnico] [varchar](100) NOT NULL,
	[nombre_display] [nvarchar](150) NOT NULL,
	[modulo] [varchar](50) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[rol_permiso]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[rol_permiso](
	[rol_id] [int] NOT NULL,
	[permiso_id] [int] NOT NULL,
	[asignado_en] [datetime2](7) NULL,
	[asignado_por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[rol_id] ASC,
	[permiso_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[roles]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[descripcion] [nvarchar](300) NULL,
	[is_active] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[sesiones]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[sesiones](
	[id] [uniqueidentifier] NOT NULL,
	[usuario_id] [int] NOT NULL,
	[refresh_token] [nvarchar](500) NOT NULL,
	[user_agent] [nvarchar](255) NULL,
	[ip_address] [varchar](45) NULL,
	[expira_en] [datetime2](7) NOT NULL,
	[is_revocado] [bit] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[usuarios]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[empleado_id] [int] NOT NULL,
	[correo_corp] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[is_active] [bit] NULL,
	[is_bloqueado] [bit] NULL,
	[intentos_fallidos] [int] NULL,
	[reset_token] [nvarchar](255) NULL,
	[reset_token_expira] [datetime2](7) NULL,
	[ultimo_acceso] [datetime2](7) NULL,
	[debe_cambiar_password] [bit] NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[created_by] [int] NULL,
	[updated_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [seg].[usuarios_roles]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [seg].[usuarios_roles](
	[usuario_id] [int] NOT NULL,
	[rol_id] [int] NOT NULL,
	[asignado_en] [datetime2](7) NULL,
	[asignado_por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[usuario_id] ASC,
	[rol_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [rrhh].[areas] ON 

INSERT [rrhh].[areas] ([id], [nombre], [descripcion], [parent_area_id], [responsable_id], [comisiona_ventas], [is_active], [created_at], [updated_at]) VALUES (1, N'Tecnología', N'Área encargada de sistemas, desarrollo y soporte técnico', NULL, NULL, 0, 1, CAST(N'2025-12-29T18:07:10.1200000' AS DateTime2), CAST(N'2025-12-29T18:07:10.1200000' AS DateTime2))
SET IDENTITY_INSERT [rrhh].[areas] OFF
GO
SET IDENTITY_INSERT [rrhh].[cargos] ON 

INSERT [rrhh].[cargos] ([id], [nombre], [descripcion], [is_active], [created_at], [updated_at]) VALUES (1, N'Administrador del Sistema', N'Responsable de la administración técnica del sistema', 1, CAST(N'2025-12-29T18:07:10.1000000' AS DateTime2), CAST(N'2025-12-29T18:07:10.1000000' AS DateTime2))
SET IDENTITY_INSERT [rrhh].[cargos] OFF
GO
SET IDENTITY_INSERT [rrhh].[empleados] ON 

SET IDENTITY_INSERT [rrhh].[empleados] OFF
GO
SET IDENTITY_INSERT [seg].[permisos] ON 

INSERT [seg].[permisos] ([id], [nombre_tecnico], [nombre_display], [modulo], [descripcion], [is_active], [created_at]) VALUES (1, N'rrhh.empleados.ver', N'Ver Empleados', N'rrhh', N'Permite visualizar la lista y detalles de empleados', 1, CAST(N'2025-12-29T18:07:10.1666667' AS DateTime2))
INSERT [seg].[permisos] ([id], [nombre_tecnico], [nombre_display], [modulo], [descripcion], [is_active], [created_at]) VALUES (2, N'rrhh.empleados.crear', N'Crear Empleados', N'rrhh', N'Permite registrar nuevos empleados en el sistema', 1, CAST(N'2025-12-29T18:07:10.1666667' AS DateTime2))
INSERT [seg].[permisos] ([id], [nombre_tecnico], [nombre_display], [modulo], [descripcion], [is_active], [created_at]) VALUES (3, N'rrhh.empleados.editar', N'Editar Empleados', N'rrhh', N'Permite modificar información de empleados existentes', 1, CAST(N'2025-12-29T18:07:10.1666667' AS DateTime2))
SET IDENTITY_INSERT [seg].[permisos] OFF
GO
INSERT [seg].[rol_permiso] ([rol_id], [permiso_id], [asignado_en], [asignado_por]) VALUES (1, 1, CAST(N'2025-12-29T18:07:10.1933333' AS DateTime2), NULL)
INSERT [seg].[rol_permiso] ([rol_id], [permiso_id], [asignado_en], [asignado_por]) VALUES (1, 2, CAST(N'2025-12-29T18:07:10.1933333' AS DateTime2), NULL)
INSERT [seg].[rol_permiso] ([rol_id], [permiso_id], [asignado_en], [asignado_por]) VALUES (1, 3, CAST(N'2025-12-29T18:07:10.1933333' AS DateTime2), NULL)
GO
SET IDENTITY_INSERT [seg].[roles] ON 

INSERT [seg].[roles] ([id], [nombre], [descripcion], [is_active], [created_at], [updated_at]) VALUES (1, N'Administrador', N'Acceso total al sistema', 1, CAST(N'2025-12-29T18:07:10.1500000' AS DateTime2), CAST(N'2025-12-29T18:07:10.1500000' AS DateTime2))
SET IDENTITY_INSERT [seg].[roles] OFF
GO
SET IDENTITY_INSERT [seg].[usuarios] ON 

INSERT [seg].[usuarios] ([id], [empleado_id], [correo_corp], [password_hash], [is_active], [is_bloqueado], [intentos_fallidos], [reset_token], [reset_token_expira], [ultimo_acceso], [debe_cambiar_password], [created_at], [updated_at], [created_by], [updated_by]) VALUES (1, 1, N'basededatos@grupocorban.pe', N'$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewY5GyYqKjfLfW0u', 1, 0, 0, NULL, NULL, NULL, 0, CAST(N'2025-12-29T18:07:10.2066667' AS DateTime2), CAST(N'2025-12-29T18:07:10.2066667' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [seg].[usuarios] OFF
GO
INSERT [seg].[usuarios_roles] ([usuario_id], [rol_id], [asignado_en], [asignado_por]) VALUES (1, 1, CAST(N'2025-12-29T18:07:10.2200000' AS DateTime2), NULL)
GO
/****** Object:  Index [idx_auditoria_fecha]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_auditoria_fecha] ON [comercial].[auditoria_log]
(
	[fecha_evento] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_auditoria_modulo]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_auditoria_modulo] ON [comercial].[auditoria_log]
(
	[modulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_auditoria_tabla]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_auditoria_tabla] ON [comercial].[auditoria_log]
(
	[tabla_afectada] ASC,
	[registro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_auditoria_usuario]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_auditoria_usuario] ON [comercial].[auditoria_log]
(
	[usuario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__clientes__4D182E8CB3E49153]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [comercial].[clientes] ADD UNIQUE NONCLUSTERED 
(
	[codigo_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__clientes__761A4C463DB4AB49]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [comercial].[clientes] ADD UNIQUE NONCLUSTERED 
(
	[nro_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_clientes_area_propietaria]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_clientes_area_propietaria] ON [comercial].[clientes]
(
	[propietario_area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_clientes_documento]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_clientes_documento] ON [comercial].[clientes]
(
	[tipo_documento] ASC,
	[nro_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_clientes_estado]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_clientes_estado] ON [comercial].[clientes]
(
	[tipo_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_clientes_vendedor]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_clientes_vendedor] ON [comercial].[clientes]
(
	[vendedor_asignado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_seguimiento_cotizacion]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_seguimiento_cotizacion] ON [comercial].[cotizacion_seguimiento]
(
	[cotizacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_seguimiento_fecha]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_seguimiento_fecha] ON [comercial].[cotizacion_seguimiento]
(
	[fecha_cambio] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__cotizaci__40F9A2063EED6DC5]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [comercial].[cotizaciones] ADD UNIQUE NONCLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cotizaciones_cliente]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_cotizaciones_cliente] ON [comercial].[cotizaciones]
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cotizaciones_codigo]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_cotizaciones_codigo] ON [comercial].[cotizaciones]
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_cotizaciones_estado]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_cotizaciones_estado] ON [comercial].[cotizaciones]
(
	[estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cotizaciones_fecha]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_cotizaciones_fecha] ON [comercial].[cotizaciones]
(
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cotizaciones_validez]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_cotizaciones_validez] ON [comercial].[cotizaciones]
(
	[fecha_validez] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_cotizaciones_vendedor]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_cotizaciones_vendedor] ON [comercial].[cotizaciones]
(
	[vendedor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__configur__71DCA3DBE3874101]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [core].[configuraciones] ADD UNIQUE NONCLUSTERED 
(
	[clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_docs_origen]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_docs_origen] ON [core].[documentos]
(
	[modulo] ASC,
	[tabla_origen] ASC,
	[registro_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_docs_usuario]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_docs_usuario] ON [core].[documentos]
(
	[uploaded_by] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__incoterm__72AFBCC66EA31BE5]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [core].[incoterms] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_notif_usuario_leida]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_notif_usuario_leida] ON [core].[notificaciones]
(
	[usuario_id] ASC,
	[leida] ASC,
	[created_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__servicio__2CAE13E538E49748]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [core].[servicios] ADD UNIQUE NONCLUSTERED 
(
	[codigo_servicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__761A4C46A6DEC878]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [rrhh].[empleados] ADD UNIQUE NONCLUSTERED 
(
	[nro_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__empleado__CDEF1DDF109FAF7E]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [rrhh].[empleados] ADD UNIQUE NONCLUSTERED 
(
	[codigo_empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_activo]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_empleados_activo] ON [rrhh].[empleados]
(
	[activo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_area]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_empleados_area] ON [rrhh].[empleados]
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_cargo]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_empleados_cargo] ON [rrhh].[empleados]
(
	[cargo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_empleados_documento]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_empleados_documento] ON [rrhh].[empleados]
(
	[tipo_documento] ASC,
	[nro_documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_empleados_jefe]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_empleados_jefe] ON [rrhh].[empleados]
(
	[jefe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__permisos__14BA5F9C31CCA12F]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [seg].[permisos] ADD UNIQUE NONCLUSTERED 
(
	[nombre_tecnico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72AFBCC66E5AEFDB]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [seg].[roles] ADD UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__3358F7C53ACD0FF6]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [seg].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[correo_corp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__usuarios__6FBB65FCF03F1139]    Script Date: 29/12/2025 18:12:22 ******/
ALTER TABLE [seg].[usuarios] ADD UNIQUE NONCLUSTERED 
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_usuarios_activo]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_activo] ON [seg].[usuarios]
(
	[is_active] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_usuarios_correo]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_correo] ON [seg].[usuarios]
(
	[correo_corp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_usuarios_empleado]    Script Date: 29/12/2025 18:12:22 ******/
CREATE NONCLUSTERED INDEX [idx_usuarios_empleado] ON [seg].[usuarios]
(
	[empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [comercial].[auditoria_log] ADD  DEFAULT (getdate()) FOR [fecha_evento]
GO
ALTER TABLE [comercial].[clientes] ADD  DEFAULT ('prospecto') FOR [tipo_estado]
GO
ALTER TABLE [comercial].[clientes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [comercial].[clientes] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [comercial].[clientes_contactos] ADD  DEFAULT ((0)) FOR [is_principal]
GO
ALTER TABLE [comercial].[clientes_contactos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [comercial].[clientes_contactos] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [comercial].[cotizacion_seguimiento] ADD  DEFAULT ('cambio_estado') FOR [tipo_cambio]
GO
ALTER TABLE [comercial].[cotizacion_seguimiento] ADD  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT ((1)) FOR [version]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT ('borrador') FOR [estado]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT ('USD') FOR [moneda]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT ((0)) FOR [subtotal]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT ((0)) FOR [igv]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [comercial].[cotizaciones] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [comercial].[leads] ADD  DEFAULT ((0)) FOR [completado]
GO
ALTER TABLE [core].[configuraciones] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [core].[documentos] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [core].[notificaciones] ADD  DEFAULT ((0)) FOR [leida]
GO
ALTER TABLE [core].[notificaciones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [core].[servicios] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [core].[servicios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [core].[servicios] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [rrhh].[areas] ADD  DEFAULT ((0)) FOR [comisiona_ventas]
GO
ALTER TABLE [rrhh].[areas] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[areas] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[areas] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [rrhh].[cargos] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [rrhh].[cargos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[cargos] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [rrhh].[empleados] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [seg].[logs_acceso] ADD  DEFAULT (getdate()) FOR [fecha_ingreso]
GO
ALTER TABLE [seg].[permisos] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [seg].[permisos] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [seg].[rol_permiso] ADD  DEFAULT (getdate()) FOR [asignado_en]
GO
ALTER TABLE [seg].[roles] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [seg].[roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [seg].[roles] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [seg].[sesiones] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [seg].[sesiones] ADD  DEFAULT ((0)) FOR [is_revocado]
GO
ALTER TABLE [seg].[sesiones] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [seg].[usuarios] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [seg].[usuarios] ADD  DEFAULT ((0)) FOR [is_bloqueado]
GO
ALTER TABLE [seg].[usuarios] ADD  DEFAULT ((0)) FOR [intentos_fallidos]
GO
ALTER TABLE [seg].[usuarios] ADD  DEFAULT ((1)) FOR [debe_cambiar_password]
GO
ALTER TABLE [seg].[usuarios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [seg].[usuarios] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [seg].[usuarios_roles] ADD  DEFAULT (getdate()) FOR [asignado_en]
GO
ALTER TABLE [comercial].[auditoria_log]  WITH CHECK ADD  CONSTRAINT [FK_auditoria_usuario] FOREIGN KEY([usuario_id])
REFERENCES [seg].[usuarios] ([id])
GO
ALTER TABLE [comercial].[auditoria_log] CHECK CONSTRAINT [FK_auditoria_usuario]
GO
ALTER TABLE [comercial].[clientes]  WITH CHECK ADD  CONSTRAINT [FK_clientes_propietario_area] FOREIGN KEY([propietario_area_id])
REFERENCES [rrhh].[areas] ([id])
GO
ALTER TABLE [comercial].[clientes] CHECK CONSTRAINT [FK_clientes_propietario_area]
GO
ALTER TABLE [comercial].[clientes]  WITH CHECK ADD  CONSTRAINT [FK_clientes_vendedor] FOREIGN KEY([vendedor_asignado_id])
REFERENCES [rrhh].[empleados] ([id])
GO
ALTER TABLE [comercial].[clientes] CHECK CONSTRAINT [FK_clientes_vendedor]
GO
ALTER TABLE [comercial].[clientes_contactos]  WITH CHECK ADD  CONSTRAINT [FK_contactos_cliente] FOREIGN KEY([cliente_id])
REFERENCES [comercial].[clientes] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [comercial].[clientes_contactos] CHECK CONSTRAINT [FK_contactos_cliente]
GO
ALTER TABLE [comercial].[cotizacion_seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_seguimiento_cotizacion] FOREIGN KEY([cotizacion_id])
REFERENCES [comercial].[cotizaciones] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [comercial].[cotizacion_seguimiento] CHECK CONSTRAINT [FK_seguimiento_cotizacion]
GO
ALTER TABLE [comercial].[cotizacion_seguimiento]  WITH CHECK ADD  CONSTRAINT [FK_seguimiento_usuario] FOREIGN KEY([usuario_id])
REFERENCES [seg].[usuarios] ([id])
GO
ALTER TABLE [comercial].[cotizacion_seguimiento] CHECK CONSTRAINT [FK_seguimiento_usuario]
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_aprobador] FOREIGN KEY([aprobado_por_id])
REFERENCES [seg].[usuarios] ([id])
GO
ALTER TABLE [comercial].[cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_aprobador]
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_cliente] FOREIGN KEY([cliente_id])
REFERENCES [comercial].[clientes] ([id])
GO
ALTER TABLE [comercial].[cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_cliente]
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_contacto] FOREIGN KEY([contacto_cliente_id])
REFERENCES [comercial].[clientes_contactos] ([id])
GO
ALTER TABLE [comercial].[cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_contacto]
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_padre] FOREIGN KEY([cotizacion_padre_id])
REFERENCES [comercial].[cotizaciones] ([id])
GO
ALTER TABLE [comercial].[cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_padre]
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD  CONSTRAINT [FK_cotizaciones_vendedor] FOREIGN KEY([vendedor_id])
REFERENCES [rrhh].[empleados] ([id])
GO
ALTER TABLE [comercial].[cotizaciones] CHECK CONSTRAINT [FK_cotizaciones_vendedor]
GO
ALTER TABLE [core].[documentos]  WITH CHECK ADD  CONSTRAINT [FK_documentos_usuario] FOREIGN KEY([uploaded_by])
REFERENCES [seg].[usuarios] ([id])
GO
ALTER TABLE [core].[documentos] CHECK CONSTRAINT [FK_documentos_usuario]
GO
ALTER TABLE [core].[notificaciones]  WITH CHECK ADD  CONSTRAINT [FK_notificaciones_usuario] FOREIGN KEY([usuario_id])
REFERENCES [seg].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [core].[notificaciones] CHECK CONSTRAINT [FK_notificaciones_usuario]
GO
ALTER TABLE [rrhh].[areas]  WITH CHECK ADD  CONSTRAINT [FK_areas_parent] FOREIGN KEY([parent_area_id])
REFERENCES [rrhh].[areas] ([id])
GO
ALTER TABLE [rrhh].[areas] CHECK CONSTRAINT [FK_areas_parent]
GO
ALTER TABLE [rrhh].[areas]  WITH CHECK ADD  CONSTRAINT [FK_areas_responsable] FOREIGN KEY([responsable_id])
REFERENCES [rrhh].[empleados] ([id])
GO
ALTER TABLE [rrhh].[areas] CHECK CONSTRAINT [FK_areas_responsable]
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_area] FOREIGN KEY([area_id])
REFERENCES [rrhh].[areas] ([id])
GO
ALTER TABLE [rrhh].[empleados] CHECK CONSTRAINT [FK_empleados_area]
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_cargo] FOREIGN KEY([cargo_id])
REFERENCES [rrhh].[cargos] ([id])
GO
ALTER TABLE [rrhh].[empleados] CHECK CONSTRAINT [FK_empleados_cargo]
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD  CONSTRAINT [FK_empleados_jefe] FOREIGN KEY([jefe_id])
REFERENCES [rrhh].[empleados] ([id])
GO
ALTER TABLE [rrhh].[empleados] CHECK CONSTRAINT [FK_empleados_jefe]
GO
ALTER TABLE [seg].[logs_acceso]  WITH CHECK ADD  CONSTRAINT [FK_logs_usuario] FOREIGN KEY([usuario_id])
REFERENCES [seg].[usuarios] ([id])
GO
ALTER TABLE [seg].[logs_acceso] CHECK CONSTRAINT [FK_logs_usuario]
GO
ALTER TABLE [seg].[rol_permiso]  WITH CHECK ADD  CONSTRAINT [FK_rol_permiso_permiso] FOREIGN KEY([permiso_id])
REFERENCES [seg].[permisos] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [seg].[rol_permiso] CHECK CONSTRAINT [FK_rol_permiso_permiso]
GO
ALTER TABLE [seg].[rol_permiso]  WITH CHECK ADD  CONSTRAINT [FK_rol_permiso_rol] FOREIGN KEY([rol_id])
REFERENCES [seg].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [seg].[rol_permiso] CHECK CONSTRAINT [FK_rol_permiso_rol]
GO
ALTER TABLE [seg].[sesiones]  WITH CHECK ADD  CONSTRAINT [FK_sesiones_usuario] FOREIGN KEY([usuario_id])
REFERENCES [seg].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [seg].[sesiones] CHECK CONSTRAINT [FK_sesiones_usuario]
GO
ALTER TABLE [seg].[usuarios]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_empleado] FOREIGN KEY([empleado_id])
REFERENCES [rrhh].[empleados] ([id])
GO
ALTER TABLE [seg].[usuarios] CHECK CONSTRAINT [FK_usuarios_empleado]
GO
ALTER TABLE [seg].[usuarios_roles]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles_rol] FOREIGN KEY([rol_id])
REFERENCES [seg].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [seg].[usuarios_roles] CHECK CONSTRAINT [FK_usuarios_roles_rol]
GO
ALTER TABLE [seg].[usuarios_roles]  WITH CHECK ADD  CONSTRAINT [FK_usuarios_roles_usuario] FOREIGN KEY([usuario_id])
REFERENCES [seg].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [seg].[usuarios_roles] CHECK CONSTRAINT [FK_usuarios_roles_usuario]
GO
ALTER TABLE [comercial].[clientes]  WITH CHECK ADD CHECK  (([tipo_documento]='CE' OR [tipo_documento]='DNI' OR [tipo_documento]='RUC'))
GO
ALTER TABLE [comercial].[clientes]  WITH CHECK ADD CHECK  (([tipo_estado]='inactivo' OR [tipo_estado]='activo' OR [tipo_estado]='prospecto'))
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD CHECK  (([estado]='vencida' OR [estado]='perdida' OR [estado]='ganada' OR [estado]='enviada_cliente' OR [estado]='rechazada' OR [estado]='aprobada' OR [estado]='pendiente_aprobacion' OR [estado]='borrador'))
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD CHECK  (([moneda]='EUR' OR [moneda]='PEN' OR [moneda]='USD'))
GO
ALTER TABLE [comercial].[cotizaciones]  WITH CHECK ADD CHECK  (([resultado_cliente]='pendiente' OR [resultado_cliente]='perdida' OR [resultado_cliente]='ganada'))
GO
ALTER TABLE [comercial].[lotes_carga]  WITH CHECK ADD CHECK  (([estado]='Terminada' OR [estado]='En gestión'))
GO
ALTER TABLE [core].[configuraciones]  WITH CHECK ADD CHECK  (([tipo_dato]='json' OR [tipo_dato]='boolean' OR [tipo_dato]='decimal' OR [tipo_dato]='int' OR [tipo_dato]='string'))
GO
ALTER TABLE [rrhh].[empleados]  WITH CHECK ADD CHECK  (([tipo_documento]='CARNET_EXT' OR [tipo_documento]='PASAPORTE' OR [tipo_documento]='CE' OR [tipo_documento]='DNI'))
GO
/****** Object:  StoredProcedure [rrhh].[sp_actualizar_empleado]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_actualizar_empleado
-- Descripción: Actualiza un empleado existente
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_actualizar_empleado]
    @id INT,
    @nombres NVARCHAR(100) = NULL,
    @apellido_paterno NVARCHAR(75) = NULL,
    @apellido_materno NVARCHAR(75) = NULL,
    @fecha_nacimiento DATE = NULL,
    @tipo_documento VARCHAR(20) = NULL,
    @nro_documento VARCHAR(20) = NULL,
    @celular VARCHAR(20) = NULL,
    @email_personal NVARCHAR(100) = NULL,
    @direccion NVARCHAR(200) = NULL,
    @distrito NVARCHAR(100) = NULL,
    @provincia NVARCHAR(100) = NULL,
    @fecha_cese DATE = NULL,
    @activo BIT = NULL,
    @cargo_id INT = NULL,
    @area_id INT = NULL,
    @jefe_id INT = NULL,
    @updated_by INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el empleado existe
    IF NOT EXISTS (SELECT 1 FROM rrhh.empleados WHERE id = @id)
    BEGIN
        RAISERROR('Empleado no encontrado', 16, 1);
        RETURN;
    END
    
    -- Validar documento duplicado (excepto el mismo empleado)
    IF @nro_documento IS NOT NULL AND EXISTS (
        SELECT 1 FROM rrhh.empleados 
        WHERE nro_documento = @nro_documento AND id != @id
    )
    BEGIN
        RAISERROR('El número de documento ya está registrado', 16, 1);
        RETURN;
    END
    
    -- Actualizar solo los campos que no son NULL
    UPDATE rrhh.empleados
    SET 
        nombres = ISNULL(@nombres, nombres),
        apellido_paterno = ISNULL(@apellido_paterno, apellido_paterno),
        apellido_materno = CASE WHEN @apellido_materno = '' THEN NULL ELSE ISNULL(@apellido_materno, apellido_materno) END,
        fecha_nacimiento = ISNULL(@fecha_nacimiento, fecha_nacimiento),
        tipo_documento = ISNULL(@tipo_documento, tipo_documento),
        nro_documento = ISNULL(@nro_documento, nro_documento),
        celular = ISNULL(@celular, celular),
        email_personal = ISNULL(@email_personal, email_personal),
        direccion = ISNULL(@direccion, direccion),
        distrito = ISNULL(@distrito, distrito),
        provincia = ISNULL(@provincia, provincia),
        fecha_cese = ISNULL(@fecha_cese, fecha_cese),
        activo = ISNULL(@activo, activo),
        cargo_id = ISNULL(@cargo_id, cargo_id),
        area_id = ISNULL(@area_id, area_id),
        jefe_id = ISNULL(@jefe_id, jefe_id),
        updated_by = @updated_by,
        updated_at = GETDATE()
    WHERE id = @id;
    
    -- Devolver el empleado actualizado
    EXEC rrhh.sp_obtener_empleado @id = @id;
END
GO
/****** Object:  StoredProcedure [rrhh].[sp_crear_empleado]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_crear_empleado
-- Descripción: Crea un nuevo empleado
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_crear_empleado]
    @codigo_empleado VARCHAR(20),
    @nombres NVARCHAR(100),
    @apellido_paterno NVARCHAR(75),
    @apellido_materno NVARCHAR(75) = NULL,
    @fecha_nacimiento DATE = NULL,
    @tipo_documento VARCHAR(20),
    @nro_documento VARCHAR(20),
    @celular VARCHAR(20) = NULL,
    @email_personal NVARCHAR(100) = NULL,
    @direccion NVARCHAR(200) = NULL,
    @distrito NVARCHAR(100) = NULL,
    @provincia NVARCHAR(100) = NULL,
    @fecha_ingreso DATE,
    @cargo_id INT,
    @area_id INT,
    @jefe_id INT = NULL,
    @created_by INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el código de empleado no exista
    IF EXISTS (SELECT 1 FROM rrhh.empleados WHERE codigo_empleado = @codigo_empleado)
    BEGIN
        RAISERROR('El código de empleado ya existe', 16, 1);
        RETURN;
    END
    
    -- Validar que el número de documento no exista
    IF EXISTS (SELECT 1 FROM rrhh.empleados WHERE nro_documento = @nro_documento)
    BEGIN
        RAISERROR('El número de documento ya está registrado', 16, 1);
        RETURN;
    END
    
    -- Validar que el cargo existe
    IF NOT EXISTS (SELECT 1 FROM rrhh.cargos WHERE id = @cargo_id AND is_active = 1)
    BEGIN
        RAISERROR('El cargo especificado no existe o está inactivo', 16, 1);
        RETURN;
    END
    
    -- Validar que el área existe
    IF NOT EXISTS (SELECT 1 FROM rrhh.areas WHERE id = @area_id AND is_active = 1)
    BEGIN
        RAISERROR('El área especificada no existe o está inactiva', 16, 1);
        RETURN;
    END
    
    -- Validar que el jefe existe (si se especificó)
    IF @jefe_id IS NOT NULL AND NOT EXISTS (SELECT 1 FROM rrhh.empleados WHERE id = @jefe_id AND activo = 1)
    BEGIN
        RAISERROR('El jefe especificado no existe o está inactivo', 16, 1);
        RETURN;
    END
    
    DECLARE @nuevo_id INT;
    
    -- Insertar empleado
    INSERT INTO rrhh.empleados (
        codigo_empleado, nombres, apellido_paterno, apellido_materno,
        fecha_nacimiento, tipo_documento, nro_documento,
        celular, email_personal, direccion, distrito, provincia,
        fecha_ingreso, activo,
        cargo_id, area_id, jefe_id, created_by
    )
    VALUES (
        @codigo_empleado, @nombres, @apellido_paterno, @apellido_materno,
        @fecha_nacimiento, @tipo_documento, @nro_documento,
        @celular, @email_personal, @direccion, @distrito, @provincia,
        @fecha_ingreso, 1,
        @cargo_id, @area_id, @jefe_id, @created_by
    );
    
    SET @nuevo_id = SCOPE_IDENTITY();
    
    -- Devolver el empleado creado
    EXEC rrhh.sp_obtener_empleado @id = @nuevo_id;
END
GO
/****** Object:  StoredProcedure [rrhh].[sp_desactivar_empleado]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_desactivar_empleado
-- Descripción: Desactiva un empleado (soft delete)
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_desactivar_empleado]
    @id INT,
    @updated_by INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el empleado existe
    IF NOT EXISTS (SELECT 1 FROM rrhh.empleados WHERE id = @id)
    BEGIN
        RAISERROR('Empleado no encontrado', 16, 1);
        RETURN;
    END
    
    -- Validar que el empleado no tiene usuario activo
    IF EXISTS (SELECT 1 FROM seg.usuarios WHERE empleado_id = @id AND is_active = 1)
    BEGIN
        RAISERROR('No se puede desactivar: el empleado tiene un usuario activo en el sistema', 16, 1);
        RETURN;
    END
    
    -- Desactivar empleado
    UPDATE rrhh.empleados
    SET activo = 0,
        fecha_cese = GETDATE(),
        updated_by = @updated_by,
        updated_at = GETDATE()
    WHERE id = @id;
    
    SELECT 
        'success' AS status,
        'Empleado desactivado exitosamente' AS message,
        @id AS id
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [rrhh].[sp_listar_areas]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_listar_areas
-- Descripción: Lista todas las áreas activas
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_listar_areas]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id,
        nombre,
        descripcion,
        comisiona_ventas,
        is_active,
        created_at
    FROM rrhh.areas
    WHERE is_active = 1
    ORDER BY nombre
    FOR JSON PATH;
END
GO
/****** Object:  StoredProcedure [rrhh].[sp_listar_cargos]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_listar_cargos
-- Descripción: Lista todos los cargos activos
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_listar_cargos]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        id,
        nombre,
        descripcion,
        is_active,
        created_at
    FROM rrhh.cargos
    WHERE is_active = 1
    ORDER BY nombre
    FOR JSON PATH;
END
GO
/****** Object:  StoredProcedure [rrhh].[sp_listar_empleados]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_listar_empleados
-- Descripción: Lista empleados con paginación
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_listar_empleados]
    @page INT = 1,
    @page_size INT = 20,
    @busqueda NVARCHAR(100) = NULL,
    @activo BIT = NULL,
    @area_id INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @offset INT = (@page - 1) * @page_size;
    
    -- Contar total de registros
    DECLARE @total INT;
    
    SELECT @total = COUNT(*)
    FROM rrhh.empleados e
    WHERE (@busqueda IS NULL OR 
           e.nombres LIKE '%' + @busqueda + '%' OR
           e.apellido_paterno LIKE '%' + @busqueda + '%' OR
           e.apellido_materno LIKE '%' + @busqueda + '%' OR
           e.codigo_empleado LIKE '%' + @busqueda + '%' OR
           e.nro_documento LIKE '%' + @busqueda + '%')
      AND (@activo IS NULL OR e.activo = @activo)
      AND (@area_id IS NULL OR e.area_id = @area_id);
    
    -- Devolver datos con paginación
    SELECT 
        @total AS total,
        @page AS page,
        @page_size AS page_size,
        CEILING(CAST(@total AS FLOAT) / @page_size) AS total_pages,
        (
            SELECT 
                e.id,
                e.codigo_empleado,
                e.nombres,
                e.apellido_paterno,
                e.apellido_materno,
                e.nro_documento,
                e.celular,
                e.email_personal,
                e.fecha_ingreso,
                e.fecha_cese,
                e.activo,
                c.nombre AS cargo_nombre,
                a.nombre AS area_nombre,
                CONCAT(jefe.nombres, ' ', jefe.apellido_paterno, 
                       CASE WHEN jefe.apellido_materno IS NOT NULL 
                            THEN ' ' + jefe.apellido_materno 
                            ELSE '' END) AS jefe_nombre_completo
            FROM rrhh.empleados e
            INNER JOIN rrhh.cargos c ON e.cargo_id = c.id
            INNER JOIN rrhh.areas a ON e.area_id = a.id
            LEFT JOIN rrhh.empleados jefe ON e.jefe_id = jefe.id
            WHERE (@busqueda IS NULL OR 
                   e.nombres LIKE '%' + @busqueda + '%' OR
                   e.apellido_paterno LIKE '%' + @busqueda + '%' OR
                   e.apellido_materno LIKE '%' + @busqueda + '%' OR
                   e.codigo_empleado LIKE '%' + @busqueda + '%' OR
                   e.nro_documento LIKE '%' + @busqueda + '%')
              AND (@activo IS NULL OR e.activo = @activo)
              AND (@area_id IS NULL OR e.area_id = @area_id)
            ORDER BY e.created_at DESC
            OFFSET @offset ROWS
            FETCH NEXT @page_size ROWS ONLY
            FOR JSON PATH
        ) AS data
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
/****** Object:  StoredProcedure [rrhh].[sp_obtener_empleado]    Script Date: 29/12/2025 18:12:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- SP: rrhh.sp_obtener_empleado
-- Descripción: Obtiene un empleado por ID
-- =====================================================
CREATE   PROCEDURE [rrhh].[sp_obtener_empleado]
    @id INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Validar que el empleado existe
    IF NOT EXISTS (SELECT 1 FROM rrhh.empleados WHERE id = @id)
    BEGIN
        RAISERROR('Empleado no encontrado', 16, 1);
        RETURN;
    END
    
    -- Devolver datos completos del empleado
    SELECT 
        e.id,
        e.codigo_empleado,
        e.nombres,
        e.apellido_paterno,
        e.apellido_materno,
        e.fecha_nacimiento,
        e.tipo_documento,
        e.nro_documento,
        e.celular,
        e.email_personal,
        e.direccion,
        e.distrito,
        e.provincia,
        e.fecha_ingreso,
        e.fecha_cese,
        e.activo,
        e.cargo_id,
        e.area_id,
        e.jefe_id,
        c.nombre AS cargo_nombre,
        a.nombre AS area_nombre,
        CONCAT(jefe.nombres, ' ', jefe.apellido_paterno, 
               CASE WHEN jefe.apellido_materno IS NOT NULL 
                    THEN ' ' + jefe.apellido_materno 
                    ELSE '' END) AS jefe_nombre_completo,
        e.created_at,
        e.updated_at
    FROM rrhh.empleados e
    INNER JOIN rrhh.cargos c ON e.cargo_id = c.id
    INNER JOIN rrhh.areas a ON e.area_id = a.id
    LEFT JOIN rrhh.empleados jefe ON e.jefe_id = jefe.id
    WHERE e.id = @id
    FOR JSON PATH, WITHOUT_ARRAY_WRAPPER;
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Base de datos de clientes y prospectos' , @level0type=N'SCHEMA',@level0name=N'comercial', @level1type=N'TABLE',@level1name=N'clientes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Cotizaciones comerciales del área de ventas' , @level0type=N'SCHEMA',@level0name=N'comercial', @level1type=N'TABLE',@level1name=N'cotizaciones'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Áreas organizacionales de Grupo Corban' , @level0type=N'SCHEMA',@level0name=N'rrhh', @level1type=N'TABLE',@level1name=N'areas'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Catálogo de cargos/puestos de trabajo de la empresa' , @level0type=N'SCHEMA',@level0name=N'rrhh', @level1type=N'TABLE',@level1name=N'cargos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registro completo de empleados de la empresa' , @level0type=N'SCHEMA',@level0name=N'rrhh', @level1type=N'TABLE',@level1name=N'empleados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuarios del sistema con credenciales de acceso' , @level0type=N'SCHEMA',@level0name=N'seg', @level1type=N'TABLE',@level1name=N'usuarios'
GO
USE [master]
GO
